@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
  --clr-black: rgb(0, 0, 0);
  --clr-blue: rgb(44, 171, 227);
  --clr-white: rgb(255, 255, 255);
  --clr-pink: rgb(255, 61, 61);
  --clr-grey: rgb(237, 241, 245);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 1s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: var(--ff-secondary);
  background: var(--clr-grey);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-pink);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  /* background: var(--clr-blue-1); */
  opacity: 0.6;
  color: var(--clr-white);
}
img {
  width: 100%;
  display: block;
}
.section-center {
  width: 85vw;
  /* background: red; */
  margin: 0 auto;
}

/* 
============
LOGIN PAGE
============
 */
.login-wrapper {
  display: grid;
  align-items: center;
  justify-content: center !important;
  place-items: center;
}
.section-login {
  padding-top: 3rem;
  /* padding: 3rem; */
  width: 25rem;
  height: 25rem;
  margin: auto auto;
  background: var(--clr-white);
  margin-top: 10rem;
  box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
}
.form-control {
  background: var(--clr-grey);
  display: flex;
  height: 3rem;
  width: 90%;
  margin: 1rem auto;
}
.form-control span {
  margin: 1px;
  background: var(--clr-white);
  display: grid;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.login-icon {
}
.login-form {
  display: grid;
}
.form-control input {
  padding: 1rem;
  width: 85%;
  background: transparent;
  border: 0;
  border-bottom-right-radius: var(--radius);
}
.btn-login {
  border-radius: var(--radius);
  height: 3rem;
  width: 80%;
  margin: 1rem auto;
}
.register {
  text-align: center;
}
.forget-password {
  text-align: center;
  margin: 0 2rem;
}

/* 
 ============
 HEADER
 ============
  */
header {
  height: 5rem;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
}
.section-header {
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.logo-container h4,
.other-header-content a {
  font-size: 1.8rem;
  color: var(--clr-blue);
}
.other-header-content {
  justify-self: end;
}
header {
  width: 100vw;
  display: flex;
  align-items: center;
}
.toggle-icon {
  font-size: 2rem;
  color: var(--clr-blue);
  /* margin: 0 auto; */
}
.toggle-wrapper {
  /* width: 100%; */
  height: 100%;
  width: 12rem;
  /* background: red; */
  display: grid;
  align-items: center;
  justify-content: center;
}
/* 
  =========
  HERO
  =========
   */
.section-hero {
  position: relative;
  height: 60vh;
}
.section-hero img {
  height: 100%;
  object-fit: cover;
}
.hero-text {
  position: absolute;
  top: 40%;
  /* background: red; */
  width: 100%;
}
.hero-text h4,
.hero-text p {
  color: var(--clr-white);
  text-align: center;
}
.hero-text h4 {
  font-size: 4rem;
}
.hero-text p {
  color: var(--clr-grey);
  font-weight: 100;
  font-size: 1.3rem;
}
/* 
==============
SIGNUP
==============
 */
.section-signup {
  margin-top: 4rem;
  border-radius: var(--radius);
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  height: 90rem;
  padding: 5rem 0;
}
.section-signup h4 {
  text-align: center;
  font-size: 1.8rem;
  color: var(--clr-blue);
}

.section-signup p {
  text-align: center;
  margin-bottom: 3rem;
}
.multiple-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signup-form {
  display: grid;
  width: 80%;
  margin: 3rem auto;
  /* background: red; */
}
.form-control-normal {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-control-normal label {
  font-size: 1.4rem;
  color: var(--clr-blue);
  text-transform: capitalize;
}
.form-control-normal input,
.form-control-normal select {
  background: var(--clr-grey);
  border-radius: var(--radius);
  height: 3rem;
  font-size: 1rem;
  padding: 0 1rem;
}
.form-control-normal input {
  border: 1px solid var(--clr-grey);
}
.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.register input {
  margin-right: 1rem;
}
.signup-btn {
  width: 10rem;
  height: 3rem;
  margin: 0 auto;
}
/* 
=========
Dashboard
 */

/* sidebar part */
.sidebar {
  width: 10rem;
  position: absolute;
  left: 0;
  top: 5rem;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  /* display: none; */
}
.link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-bottom: 1px solid var(--clr-grey);
}
.link-wrapper p {
  margin-top: 1rem;
}
.link-icon {
  font-size: 2rem;
}
/* other part of the dashboard */
.section-dashoard {
  /* background: var(--clr-white); */
  /* height: 30rem; */
  /* width: 70%; */
  margin-top: 5rem;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 765px) {
  .section-dashoard {
    grid-template-columns: 3fr 1fr;
  }
}
.main-details {
  box-shadow: var(--dark-shadow);
  background: var(--clr-white);
  padding: 3rem;
}
.profile-container {
  box-shadow: var(--dark-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background: var(--clr-white);
  padding: 3rem;
  max-height: 25rem;
}
.img-wrapper {
  overflow: hidden;

  border: 10px solid var(--clr-blue);
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  /* margin-top: 3rem; */
  /* margin-bottom: 2rem; */
  display: grid;
  align-items: center;
  justify-content: center;
}
.user-details {
  /* background: red; */
}
.user-details h5 {
  margin-top: 2rem;
  font-size: 1.3rem;
  text-align: left;
  text-transform: uppercase;
}
.user-details p {
  text-align: left;
  font-size: 1rem;
  font-weight: 200;
}
.profile-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* 
deposit form
*/
.form-title h4 {
  color: var(--clr-blue);
  font-size: 2rem;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-bottom: 0 !important;
}
.deposit-form {
  width: 20rem;
  /* height: 100%; */
  margin: 0 auto;
  /* margin-top: 4rem; */
  display: flex;
  /* background: red; */
  flex-direction: column;
  /* align-items: center; */
  /* background: red; */
  /* justify-content: center; */
}
.naira {
  text-decoration: line-through;
  text-decoration-style: double;
}
.deposit-control {
  /* margin: 0; */
}
.deposit-control input,
.deposit-control label {
  border-radius: 0;
  margin: 0 auto;
  width: 90%;
  /* background: red; */
}
.deposit-control input {
  border: 1px solid var(--clr-grey);
}
.btn-deposit {
  margin: 0 auto;
  text-align: center;
  width: 9rem;
  height: 2.5rem;
  margin-top: 1rem;
}
.error {
  background: var(--clr-pink);
  /* border-radius: var(--radius); */
  color: var(--clr-white);
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1rem;

  max-width: 15rem;
  max-height: 3rem;
  margin: 0 auto;
}
.section-notification {
  background: white;
  width: 30rem;
  height: 15rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-container h4 {
  text-align: center;
  font-size: 1.4rem;
  color: green;
  text-transform: uppercase;
  margin: 0.5rem auto;
}
/* 
=============
History Table
============= 
*/
.history h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-blue);
  margin-top: 2rem;
}
.history table {
  padding: 1rem 1rem;
  border-collapse: collapse;
  width: 90%;
  margin: 2rem auto;
}
.history thead tr {
  text-align: left;
  background: var(--clr-grey);
  text-transform: uppercase;
}
.history th,
.history td {
  padding: 0.5rem 0;
}
.history tbody tr {
  border: 2px solid var(--clr-grey);
}
.history tbody :hover {
  /* border: 2px solid var(--clr-grey) */
  background: var(--clr-grey);
}
.history-buttons {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
}
.error-meesage {
  text-align: center;
  text-transform: uppercase;
  color: red;
}
.important-notice h4 {
  color: var(--clr-blue);
  font-size: 2rem;
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.important-notice p {
  max-width: 40rem;
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem auto;
}
